<table class="table table-sm table-light table-striped" *ngIf="tracks">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<!--TODO: Use *ngIf to hide if hideArtist is true-->
			<th scope="col" *ngIf="hideArtist == false">Primary Artist</th>
			<!--TODO: Use *ngIf to hide if hideAlbum is true-->
			<th scope="col" *ngIf="hideAlbum == false">Album</th>
		</tr>
	</thead>
	<tbody>
		<!--TODO: Use *ngFor to loop over tracks-->

		<tr *ngFor="let track of tracks; let i = index;">
			<!--TODO: Populate with row index (start with 1!)-->
			<td>{{i + 1}}</td>
			<td>
				<!--TODO: link to the endpoint for that track, display the track's name-->
				<a href="track/{{track.id}}">{{track.name}}</a>
			</td>
			<!--TODO: display the track's duration-->
			<td>{{track.durationStr}}</td>
			<!--TODO: Use *ngIf to hide if hideArtist is true; link to the first artist's endpoint and display the first artist's name-->
			<td *ngIf="hideArtist == false"><a href="artist/{{track.artists[0].id}}">{{track.artists[0].name}}</a></td>
			<!--TODO: Use *ngIf to hide if hideAlbum is true; link to the album's endpoint and display the album's name-->
			<td *ngIf="hideAlbum == false"><a href="album/{{track.album.id}}">{{track.album.name}}</a></td>
		</tr>
	</tbody>
</table>
