/* You can add global styles to this file, and also import other style files */

body {
	background-color: var(--dark);
	color: var(--light);
	font-family: 'Lato', sans-serif;
}

h1 {
	font-weight: 900;
}

h2, h3 {
	font-weight: 700;
}

button, .btn {
	margin: 10px;
}

a {
	color: var(--orange);
}