<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-brand">
        <a class="navbar-brand" href="/">
          Browsing spotify
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right mr-auto">
      <li class="nav-item">
        <a class="btn btn-dark" role="button" href="http://localhost:8888/login">Log in</a>
      </li>
    </ul>
  </nav>
<main class="container-fluid">
	<router-outlet></router-outlet>
</main>
